@import 'variables';

*,
*::before,
*::after {
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  color: $black;
  box-sizing: border-box;
  background-color: $grey;
}

html {
  font-size: 62.5%;
}

::selection {
  background-color: $black;
  color: $white;
}
